In [3]:
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('ggplot')
%matplotlib inline

pd.set_option("display.max_columns", 30)
pd.set_option("display.max_colwidth", 100)
pd.set_option("display.precision", 3)

CSV_PATH = r"/Users/killer/work_station/PyLearn/Web/MLWeb/MLBlueprints/chapter2/magic.csv"

df = pd.read_csv(CSV_PATH)
df.columns

Index(['routablemask_link', 'routablemask_link/_text',
       'routablemask_link/_title', 'routablemask_link_numbers',
       'routablemask_content', 'imagebadge_value', 'imagebadge_value_numbers',
       'routable_link', 'routable_link/_text', 'routable_link/_title',
       'routable_link_numbers', 'listingtype_value', 'pricelarge_value',
       'pricelarge_value_prices', 'propertyinfo_value',
       'propertyinfo_value_numbers', 'fineprint_value',
       'fineprint_value_numbers', 'tozcount_number', 'tozfresh_value',
       'tablegrouped_values', 'tablegrouped_values_prices', '_PAGE_NUMBER'],
      dtype='object')

In [2]:
df.head().T

,0,1,2,3,4
routablemask_link,"http://www.zillow.com/b/2-Ellwood-St-New-York-NY/40.85899,-73.92814_ll/","http://www.zillow.com/b/603-W-140th-St-New-York-NY/40.82376,-73.95335_ll/",http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/
routablemask_link/_text,5 photos,10 photos,NaN,9 photos,5 photos
routablemask_link/_title,NaN,NaN,NaN,NaN,NaN
routablemask_link_numbers,5,10,NaN,9,5
routablemask_content,NaN,NaN,NaN,NaN,NaN
imagebadge_value,5 photos,10 photos,NaN,9 photos,5 photos
imagebadge_value_numbers,5,10,NaN,9,5
routable_link,"http://www.zillow.com/b/2-Ellwood-St-New-York-NY/40.85899,-73.92814_ll/","http://www.zillow.com/b/603-W-140th-St-New-York-NY/40.82376,-73.95335_ll/",http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/
routable_link/_text,2 Ellwood St,603 W 140th St,"9 E 129th St # 1, New York, NY10035","710 Riverside Dr APT 2C, New York, NY10031","413 E 84th St APT 8, New York, NY10028"
routable_link/_title,"2 Ellwood St APT 5H, New York, NY Real Estate","603 W 140th St APT 44, New York, NY Real Estate","9 E 129th St # 1, New York, NY Real Estate","710 Riverside Dr APT 2C, New York, NY Real Estate","413 E 84th St APT 8, New York, NY Real Estate"
routable_link_numbers,2,603; 140,9; 129; 1,710; 2,413; 84; 8
listingtype_value,Apartments For Rent,Apartments For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent
pricelarge_value,NaN,NaN,"$1,750/mo","$3,000/mo","$2,300/mo"
pricelarge_value_prices,NaN,NaN,1.75e+03,3e+03,2.3e+03
propertyinfo_value,"2 Ellwood St, New York, NY","603 W 140th St, New York, NY",1 bd • 1 ba,"2 bds • 2 ba • 1,016 sqft",Studio • 1 ba
propertyinfo_value_numbers,2,603; 140,1; 1,2; 2; 1016,1
fineprint_value,6 matching units,2 matching units,NaN,NaN,NaN
fineprint_value_numbers,6,2,NaN,NaN,NaN
tozcount_number,NaN,NaN,48,1,2
tozfresh_value,Updated today,Updated today,minutes ago,hour ago,hours ago
tablegrouped_values,"1 Bedrooms $1,500+ 1.0 ba -- sqft; 2 Bedrooms $1,750+ 1.0 ba -- sqft","1 Bedrooms $2,100 1.0 ba 800 sqft; 2 Bedrooms $2,595 1.0 ba 1,000 sqft",NaN,NaN,NaN
tablegrouped_values_prices,1500; 1750,2100; 2595,NaN,NaN,NaN
_PAGE_NUMBER,1,1,1,1,1

In [5]:
# multiple units
mu = df[df['listingtype_value'].str.contains('Apartments For')]

# single units
su = df[df['listingtype_value'].str.contains('Apartment For')]

In [6]:
len(mu)

161

In [7]:
len(su)

339

In [8]:
su['propertyinfo_value']

2                                               1 bd • 1 ba
3                                 2 bds • 2 ba • 1,016 sqft
4                                             Studio • 1 ba
5                                              2 bds • 1 ba
7                                              2 bds • 1 ba
10                                              1 bd • 1 ba
11     1 bd • 1 ba • 496 sqft • 4,502 sqft lot • Built 1900
12                                            Studio • 1 ba
13                                              1 bd • 1 ba
17                                              1 bd • 1 ba
18                                            Studio • 1 ba
19                                              1 bd • 1 ba
20                                   1 bd • 1 ba • 700 sqft
21                                              1 bd • 1 ba
23                                 Studio • 1 ba • 487 sqft
24                                             2 bds • 1 ba
27                                   1 bd • 1 ba • 525 sqft
29                                  2 bds • 1 ba • 650 sqft
30                                              1 bd • 1 ba
33                                              1 bd • 1 ba
36                                            Studio • 1 ba
38                                              1 bd • 1 ba
40                    Studio • 1 ba • 406 sqft • Built 1903
42                  Studio • 1 ba • 350 sqft • 465 sqft lot
44                                            Studio • 1 ba
45                                 Studio • 1 ba • 400 sqft
46                      1 bd • 1 ba • 600 sqft • Built 1989
47                                              1 bd • 1 ba
48                                              1 bd • 1 ba
49                      1 bd • 1 ba • 596 sqft • Built 1959
                               ...
450                                 2 bds • 1 ba • 900 sqft
451                                            2 bds • 1 ba
452                                             1 bd • 1 ba
453                                             1 bd • 1 ba
454                                             1 bd • 1 ba
457     Studio • 1 ba • 540 sqft • 2.00 ac lot • Built 1961
458                                            2 bds • 1 ba
459                                           Studio • 1 ba
460                                             1 bd • 1 ba
461                                           Studio • 1 ba
462                              Studio • 1 ba • Built 1993
464                   Studio • 1 ba • 485 sqft • Built 1962
466                                 2 bds • 1 ba • 600 sqft
467                   Studio • 1 ba • 522 sqft • Built 2013
468                   Studio • 1 ba • 480 sqft • Built 1998
470                                           Studio • 1 ba
471                                           Studio • 1 ba
475                     1 bd • 1 ba • 475 sqft • Built 1900
477                                           Studio • 1 ba
479                                  1 bd • 1 ba • 500 sqft
483                                            2 bds • 1 ba
484                                            2 bds • 1 ba
485                                           Studio • 1 ba
486                                Studio • 1 ba • 400 sqft
487                                           Studio • 1 ba
490                                             1 bd • 1 ba
492                                             1 bd • 1 ba
496                                           Studio • 1 ba
497                                Studio • 1 ba • 550 sqft
499                                             1 bd • 1 ba
Name: propertyinfo_value, Length: 339, dtype: object

In [9]:
# 检查没有包含'bd'或'Studio'的行数
len(su[~su['propertyinfo_value'].str.contains('Studio') | su['propertyinfo_value'].str.contains('bd'))])

SyntaxError: invalid syntax (<ipython-input-9-2fa14217374f>, line 2)

In [10]:
# 检查没有包含'bd'或'Studio'的行数
len(su[~(su['propertyinfo_value'].str.contains('Studio') | su['propertyinfo_value'].str.contains('bd'))])

0

In [11]:
# 检查没有包含'ba'的行数
len(su[~(su['propertyinfo_value'].str.contains('ba'))])

6

In [12]:
# 选择拥有浴室的房源
# 首先选出没有浴室的房源
no_baths = su[~(su['propertyinfo_value'].str.contains('ba'))]

# 再排除那些缺失了浴室信息的房源
sucln = su[~su.index.isin(no_baths.index)]

In [13]:
# 继续解析卧室和浴室的信息，使用项目符号进行切分
def parse_info(row):
    if not 'sqft' in row:
        br, ba = row.split('')[:2]
        sqft = np.nan
    else:
        br, ba, sqft = row.split('.')[:3]
    return pd.Series({'Beds':br, 'Baths':ba, 'Sqft': sqft})

attr = sucln['propertyinfo_value'].apply(parse_info)

attr

ValueError: empty separator

In [14]:
# 继续解析卧室和浴室的信息，使用项目符号进行切分
def parse_info(row):
    if not 'sqft' in row:
        br, ba = row.split(' ')[:2]
        sqft = np.nan
    else:
        br, ba, sqft = row.split('.')[:3]
    return pd.Series({'Beds':br, 'Baths':ba, 'Sqft': sqft})

attr = sucln['propertyinfo_value'].apply(parse_info)

attr

ValueError: need more than 1 value to unpack

In [15]:
sucln

,routablemask_link,routablemask_link/_text,routablemask_link/_title,routablemask_link_numbers,routablemask_content,imagebadge_value,imagebadge_value_numbers,routable_link,routable_link/_text,routable_link/_title,routable_link_numbers,listingtype_value,pricelarge_value,pricelarge_value_prices,propertyinfo_value,propertyinfo_value_numbers,fineprint_value,fineprint_value_numbers,tozcount_number,tozfresh_value,tablegrouped_values,tablegrouped_values_prices,_PAGE_NUMBER
2,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,"9 E 129th St # 1, New York, NY10035","9 E 129th St # 1, New York, NY Real Estate",9; 129; 1,Apartment For Rent,"$1,750/mo",1750.0,1 bd • 1 ba,1; 1,NaN,NaN,48.0,minutes ago,NaN,NaN,1
3,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,9 photos,NaN,9.0,NaN,9 photos,9.0,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,"710 Riverside Dr APT 2C, New York, NY10031","710 Riverside Dr APT 2C, New York, NY Real Estate",710; 2,Apartment For Rent,"$3,000/mo",3000.0,"2 bds • 2 ba • 1,016 sqft",2; 2; 1016,NaN,NaN,1.0,hour ago,NaN,NaN,1
4,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,5 photos,NaN,5.0,NaN,5 photos,5.0,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,"413 E 84th St APT 8, New York, NY10028","413 E 84th St APT 8, New York, NY Real Estate",413; 84; 8,Apartment For Rent,"$2,300/mo",2300.0,Studio • 1 ba,1,NaN,NaN,2.0,hours ago,NaN,NaN,1
5,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,7 photos,NaN,7.0,NaN,7 photos,7.0,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,"324 Pleasant Ave APT 6E, New York, NY10035","324 Pleasant Ave APT 6E, New York, NY Real Estate",324; 6,Apartment For Rent,"$2,500/mo",2500.0,2 bds • 1 ba,2; 1,NaN,NaN,2.0,hours ago,NaN,NaN,1
7,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,"217 Thompson St APT 6, New York, NY10012","217 Thompson St APT 6, New York, NY Real Estate",217; 6,Apartment For Rent,"$2,800/mo",2800.0,2 bds • 1 ba,2; 1,NaN,NaN,3.0,hours ago,NaN,NaN,1
10,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,"340 W 47th St APT 4C, New York, NY10036","340 W 47th St APT 4C, New York, NY Real Estate",340; 47; 4,Apartment For Rent,"$2,490/mo",2490.0,1 bd • 1 ba,1; 1,NaN,NaN,6.0,hours ago,NaN,NaN,1
11,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,9 photos,NaN,9.0,NaN,9 photos,9.0,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,"1356 1st Ave APT 5B, New York, NY10021","1356 1st Ave APT 5B, New York, NY Real Estate",1356; 1; 5,Apartment For Rent,"$2,750/mo",2750.0,"1 bd • 1 ba • 496 sqft • 4,502 sqft lot • Built 1900",1; 1; 496; 4502; 1900,NaN,NaN,6.0,hours ago,NaN,NaN,1
12,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,4 photos,NaN,4.0,NaN,4 photos,4.0,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,"101 W 77th St APT 3C, New York, NY10024","101 W 77th St APT 3C, New York, NY Real Estate",101; 77; 3,Apartment For Rent,"$2,150/mo",2150.0,Studio • 1 ba,1,NaN,NaN,6.0,hours ago,NaN,NaN,1
13,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,6 photos,NaN,6.0,NaN,6 photos,6.0,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,"111 W 74th St APT 2R, New York, NY10023","111 W 74th St APT 2R, New York, NY Real Estate",111; 74; 2,Apartment For Rent,"$2,875/mo",2875.0,1 bd • 1 ba,1; 1,NaN,NaN,6.0,hours ago,NaN,NaN,1
17,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,"646 10th Ave APT 4B, New York, NY10036","646 10th Ave APT 4B, New York, NY Real Estate",646; 10; 4,Apartment For Rent,"$2,225/mo",2225.0,1 bd • 1 ba,1; 1,NaN,NaN,6.0,hours ago,NaN,NaN,1
18,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,4 photos,NaN,4.0,NaN,4 photos,4.0,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,"76 Carmine St APT 4C, New York, NY10014","76 Carmine St APT 4C, New York, NY Real Estate",76; 4,Apartment For Rent,"$2,450/mo",2450.0,Studio • 1 ba,1,NaN,NaN,7.0,hours ago,NaN,NaN,1
19,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,6 photos,NaN,6.0,NaN,6 photos,6.0,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,"146 W 120th St APT 8, New York, NY10027","146 W 120th St APT 8, New York, NY Real Estate",146; 120; 8,Apartment For Rent,"$1,800/mo",1800.0,1 bd • 1 ba,1; 1,NaN,NaN,9.0,hours ago,NaN,NaN,1
20,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,10 photos,NaN,10.0,NaN,10 photos,10.0,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,"137 W 72nd St APT 4FE, New York, NY10023","137 W 72nd St APT 4FE, New York, NY Real Estate",137; 72; 4,Apartment For Rent,"$2,850/mo",2850.0,1 bd • 1 ba • 700 sqft,1; 1; 700,NaN,NaN,9.0,hours ago,NaN,NaN,1
21,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,6 photos,NaN,6.0,NaN,6 photos,6.0,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,"178 Avenue B # 2, New York, NY10009","178 Avenue B # 2, New York, NY Real Estate",178; 2,Apartment For Rent,"$2,700/mo",2700.0,1 bd • 1 ba,1; 1,NaN,NaN,10.0,hours ago,NaN,NaN,1
23,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,17 photos,NaN,17.0,NaN,17 photos,17.0,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,"95 Wall St, New York, NY","95 Wall, Studio E1O Real Estate",95,Apartment For Rent,"$3,000+/mo",3000.0,Studio • 1 ba • 487 sqft,1; 487,NaN,NaN,NaN,Updated today,NaN,NaN,1
24,http://www.zillow.com/homedetails/129-Rivington-St-FRNT-2F-New-York-NY-10002/2100765545_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/129-Rivington-St-FRNT-2F-New-York-NY-10002/2100765545_zpid/,"129 Rivington St FRNT 2F, New York, NY10002","129 Rivington St FRNT 2F, New York, NY Real Estate",129; 2,Apartment For Rent,"$2,995/mo",2995.0,2 bds • 1 ba,2; 1,NaN,NaN,18.0,hours ago,NaN,NaN,1
27,http://www.zillow.com/homedetails/211-E-4th-St-APT-3-New-York-NY-10009/2119571597_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/211-E-4th-St-APT-3-New-York-NY-10009/2119571597_zpid/,"211 E 4th St APT 3, New York, NY10009","211 E 4th St APT 3, New York, NY Real Estate",211; 4; 3,Apartment For Rent,"$2,700/mo",2700.0,1 bd • 1 ba • 525 sqft,1; 1; 525,NaN,NaN,NaN,NaN,NaN,NaN,2
29,http://www.zillow.com/homedetails/52-Allen-St-3-New-York-NY-10002/2100767061_zpid/,11 photos,NaN,11.0,NaN,11 photos,11.0,http://www.zillow.com/homedetails/52-Allen-St-3-New-York-NY-10002/2100767061_zpid/,"52 Allen St # 3, New York, NY10002","52 Allen St # 3, New York, NY Real Estate",52; 3,Apartment For Rent,"$2,800/mo",2800.0,2 bds • 1 ba • 650 sqft,2; 1; 650,NaN,NaN,NaN,NaN,NaN,NaN,2
30,http://www.zillow.com/homedetails/280-E-2nd-St-604-New-York-NY-10009/2100767100_zpid/,4 photos,NaN,4.0,NaN,4 photos,4.0,http://www.zillow.com/homedetails/280-E-2nd-St-604-New-York-NY-10009/2100767100_zpid/,"280 E 2nd St # 604, New York, NY10009","280 E 2nd St # 604, New York, NY Real Estate",280; 2; 604,Apartment For Rent,"$2,850/mo",2850.0,1 bd • 1 ba,1; 1,NaN,NaN,NaN,NaN,NaN,NaN,2
33,http://www.zillow.com/homedetails/201-Allen-St-2R-New-York-NY-10002/2100769330_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/201-Allen-St-2R-New-York-NY-10002/2100769330_zpid/,"201 Allen St # 2R, New York, NY10002","201 Allen St # 2R, New York, NY Real Estate",201; 2,Apartment For Rent,"$2,199/mo",2199.0,1 bd • 1 ba,1; 1,NaN,NaN,NaN,NaN,NaN,NaN,2
36,http://www.zillow.com/homedetails/74-Leonard-St-APT-2B-New-York-NY-10013/2100769387_zpid/,7 photos,NaN,7.0,NaN,7 photos,7.0,http://www.zillow.com/homedetails/74-Leonard-St-APT-2B-New-York-NY-10013/2100769387_zpid/,"74 Leonard St APT 2B, New York, NY10013","74 Leonard St APT 2B, New York, NY Real Estate",74; 2,Apartment For Rent,"$2,895/mo",2895.0,Studio • 1 ba,1,NaN,NaN,NaN,NaN,NaN,NaN,2
38,http://www.zillow.com/homedetails/70-Orchard-St-APT-6-New-York-NY-10002/2100774367_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/70-Orchard-St-APT-6-New-York-NY-10002/2100774367_zpid/,"70 Orchard St APT 6, New York, NY10002","70 Orchard St APT 6, New York, NY Real Estate",70; 6,Apartment For Rent,"$2,200/mo",2200.0,1 bd • 1 ba,1; 1,NaN,NaN,NaN,NaN,NaN,NaN,2
40,http://www.zillow.com/homedetails/1-West-St-APT-2040-New-York-NY-10004/2127108261_zpid/,11 photos,NaN,11.0,NaN,11 photos,11.0,http://www.zillow.com/homedetails/1-West-St-APT-2040-New-York-NY-10004/2127108261_zpid/,"1 West St APT 2040, New York, NY10004","1 West St APT 2040, New York, NY Real Estate",1; 2040,Apartment For Rent,"$2,600/mo",2600.0,Studio • 1 ba • 406 sqft • Built 1903,1; 406; 1903,NaN,NaN,NaN,NaN,NaN,NaN,2
42,http://www.zillow.com/homedetails/166-W-76th-St-APT-4E-New-York-NY-10023/2118825231_zpid/,5 photos,NaN,5.0,NaN,5 photos,5.0,http://www.zillow.com/homedetails/166-W-76th-St-APT-4E-New-York-NY-10023/2118825231_zpid/,"166 W 76th St APT 4E, New York, NY10023","166 W 76th St APT 4E, New York, NY Real Estate",166; 76; 4,Apartment For Rent,"$2,300/mo",2300.0,Studio • 1 ba • 350 sqft • 465 sqft lot,1; 350; 465,NaN,NaN,12.0,hours ago,NaN,NaN,2
44,http://www.zillow.com/homedetails/72-W-87th-St-1D-New-York-NY-10024/2100763839_zpid/,1 photo,NaN,1.0,NaN,1 photo,1.0,http://www.zillow.com/homedetails/72-W-87th-St-1D-New-York-NY-10024/2100763839_zpid/,"72 W 87th St # 1D, New York, NY10024","72 W 87th St # 1D, New York, NY Real Estate",72; 87; 1,Apartment For Rent,"$2,400/mo",2400.0,Studio • 1 ba,1,NaN,NaN,12.0,hours ago,NaN,NaN,2
45,http://www.zillow.com/homedetails/310-W-78th-St-3BB-New-York-NY-10024/2100763841_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/310-W-78th-St-3BB-New-York-NY-10024/2100763841_zpid/,"310 W 78th St # 3BB, New York, NY10024","310 W 78th St # 3BB, New York, NY Real Estate",310; 78; 3,Apartment For Rent,"$2,195/mo",2195.0,Studio • 1 ba • 400 sqft,1; 400,NaN,NaN,12.0,hours ago,NaN,NaN,2
46,http://www.zillow.com/homedetails/301-W-110th-St-APT-3F-New-York-NY-10026/31550221_zpid/,11 photos,NaN,11.0,NaN,11 photos,11.0,http://www.zillow.com/homedetails/301-W-110th-St-APT-3F-New-York-NY-10026/31550221_zpid/,"301 W 110th St APT 3F, New York, NY10026","301 W 110th St APT 3F, New York, NY Real Estate",301; 110; 3,Apartment For Rent,"$2,800/mo",2800.0,1 bd • 1 ba • 600 sqft • Built 1989,1; 1; 600; 1989,NaN,NaN,12.0,hours ago,NaN,NaN,2
47,http://www.zillow.com/homedetails/115-W-57th-St-APT-4F-New-York-NY-10019/2118533935_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/115-W-57th-St-APT-4F-New-York-NY-10019/2118533935_zpid/,"115 W 57th St APT 4F, New York, NY10019","115 W 57th St APT 4F, New York, NY Real Estate",115; 57; 4,Apartment For Rent,"$2,495/mo",2495.0,1 bd • 1 ba,1; 1,NaN,NaN,14.0,hours ago,NaN,NaN,2
48,http://www.zillow.com/homedetails/438-E-66th-St-4-New-York-NY-10065/2106344724_zpid/,4 photos,NaN,4.0,NaN,4 photos,4.0,http://www.zillow.com/homedetails/438-E-66th-St-4-New-York-NY-10065/2106344724_zpid/,"438 E 66th St # 4, New York, NY10065","438 E 66th St # 4, New York, NY Real Estate",438; 66; 4,Apartment For Rent,"$1,900/mo",1900.0,1 bd • 1 ba,1; 1,NaN,NaN,14.0,hours ago,NaN,NaN,2
49,http://www.zillow.com/homedetails/30-W-141st-St-APT-6C-New-York-NY-10037/2112163749_zpid/,9 photos,NaN,9.0,NaN,9 photos,9.0,http://www.zillow.com/homedetails/30-W-141st-St-APT-6C-New-York-NY-10037/2112163749_zpid/,"30 W 141st St APT 6C, New York, NY10037","30 W 141st St APT 6C, New York, NY Real Estate",30; 141; 6,Apartment For Rent,"$1,815/mo",1815.0,1 bd • 1 ba • 596 sqft • Built 1959,1; 1; 596; 1959,NaN,NaN,14.0,hours ago,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,http://www.zillow.com/homedetails/3924-Broadway-APT-2A-New-York-NY-10032/2101999887_zpid/,8 photos,NaN,8.0,NaN,8 photos,8.0,http://www.zillow.com/homedetails/3924-Broadway-APT-2A-New-York-NY-10032/2101999887_zpid/,"3924 Broadway APT 2A, New York, NY10032","3924 Broadway APT 2A, New York, NY Real Estate",3924; 2,Apartment For Rent,"$2,095/mo",2095.0,2 bds • 1 ba • 900 sqft,2; 1; 900,NaN,NaN,NaN,NaN,NaN,NaN,19
451,http://www.zillow.com/homedetails/534-W-159th-St-APT-2D-New-York-NY-10032/2106895748_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/534-W-159th-St-APT-2D-New-York-NY-10032/2106895748_zpid/,"534 W 159th St APT 2D, New York, NY10032","534 W 159th St APT 2D, New York, NY Real Estate",534; 159; 2,Apartment For Rent,"$2,000/mo",2000.0,2 bds • 1 ba,2; 1,NaN,NaN,NaN,NaN,NaN,NaN,19
452,http://www.zillow.com/homedetails/21-E-108th-St-APT-1B-New-York-NY-10029/2124237773_zpid/,6 photos,NaN,6.0,NaN,6 photos,6.0,http://www.zillow.com/homedetails/21-E-108th-St-APT-1B-New-York-NY-10029/2124237773_zpid/,"21 E 108th St APT 1B, New York, NY10029","21 E 108th St APT 1B, New York, NY Real Estate",21; 108; 1,Apartment For Rent,"$2,095/mo",2095.0,1 bd • 1 ba,1; 1,NaN,NaN,NaN,NaN,NaN,NaN,19
453,http://www.zillow.com/homedetails/346-E-49th-St-5-New-York-NY-10017/2100771935_zpid/,1 photo,NaN,1.0,NaN,1 photo,1.0,http://www.zillow.com/homedetails/346-E-49th-St-5-New-York-NY-10017/2100771935_zpid/,"346 E 49th St # 5, New York, NY10017","346 E 49th St # 5, New York, NY Real Estate",346; 49; 5,Apartment For Rent,"$2,250/mo",2250.0,1 bd • 1 ba,1; 1,NaN,NaN,NaN,NaN,NaN,NaN,19
454,http://www.zillow.com/homedetails/528-E-79th-St-APT-3D-New-York-NY-10075/2124593208_zpid/,11 photos,NaN,11.0,NaN,11 photos,11.0,http://www.zillow.com/homedetails/528-E-79th-St-APT-3D-New-York-NY-10075/2124593208_zpid/,"528 E 79th St APT 3D, New York, NY10075","528 E 79th St APT 3D, New York, NY Real Estate",528; 79; 3,Apartment For Rent,"$2,450/mo",2450.0,1 bd • 1 ba,1; 1,NaN,NaN,NaN,NaN,NaN,NaN,19
457,http://www.zillow.com/homedetails/372-Central-Park-W-APT-9S-New-York-NY-10025/31548363_zpid/,5 photos,NaN,5.0,NaN,5 photos,5.0,http://www.zillow.com/homedetails/372-Central-Park-W-APT-9S-New-York-NY-10025/31548363_zpid/,"372 Central Park W APT 9S, New York, NY10025","372 Central Park W APT 9S, New York, NY Real Estate",372; 9,Apartment For Rent,"$2,500/mo",2500.0,Studio • 1 ba • 540 sqft • 2.00 ac lot • Built 1961,1; 540; 2; 1961,NaN,NaN,NaN,NaN,NaN,NaN,19
458,http://www.zillow.com/homedetails/305-E-75th-St-APT-19-New-York-NY-10021/2100771931_zpid/,5 photos,NaN,5.0,NaN,5 photos,5.0,http://www.zillow.com/homedetails/305-E-75th-St-APT-19-New-York-NY-10021/2100771931_zpid/,"305 E 75th St APT 19, New York, NY10021","305 E 75th St APT 19, New York, NY Real Estate",305; 75; 19,Apartment For Rent,"$2,500/mo",2500.0,2 bds • 1 ba,2; 1,NaN,NaN,NaN,NaN,NaN,NaN,19
459,http://www.zillow.com/homedetails/423-E-77th-St-APT-5B-New-York-NY-10075/2100771933_zpid/,4 photos,NaN,4.0,NaN,4 photos,4.0,http://www.zillow.com/homedetails/423-E-77th-St-APT-5B-New-York-NY-10075/2100771933_zpid/,"423 E 77th St APT 5B, New York, NY10075","423 E 77th St APT 5B, New York, NY Real Estate",423; 77; 5,Apartment For Rent,"$1,800/mo",1800.0,Studio • 1 ba,1,NaN,NaN,NaN,NaN,NaN,NaN,19
460,http://www.zillow.com/homedetails/215-E-10th-St-APT-16-New-York-NY-10003/2117980609_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/215-E-10th-St-APT-16-New-York-NY-10003/2117980609_zpid/,"215 E 10th St APT 16, New York, NY10003","215 E 10th St APT 16, New York, NY Real Estate",215; 10; 16,Apartment For Rent,"$2,495/mo",2495.0,1 bd • 1 ba,1; 1,NaN,NaN,NaN,NaN,NaN,NaN,19
461,http://www.zillow.com/homedetails/175-E-96th-St-335756-New-York-NY-10128/2100798508_zpid/,10 photos,NaN,10.0,NaN,10 photos,10.0,http://www.zillow.com/homedetails/175-E-96th-St-335756-New-York-NY-10128/2100798508_zpid/,"175 E 96th St, New York, NY","The Monterey, Studio 1 ba Real Estate",175; 96,Apartment For Rent,"$2,950+/mo",2950.0,Studio • 1 ba,1,NaN,NaN,NaN,NaN,NaN,NaN,19
462,http://www.zillow.com/homedetails/235-W-48th-St-266094-New-York-NY-10036/2100905890_zpid/,13 photos,NaN,13.0,NaN,13 photos,13.0,http://www.zillow.com/homedetails/235-W-48th-St-266094-New-York-NY-10036/2100905890_zpid/,"235 W 48th St, New York, NY","The Ritz Plaza, Studio 1 ba Real Estate",235; 48,Apartment For Rent,"$2,950+/mo",2950.0,Studio • 1 ba • Built 1993,1; 1993,NaN,NaN,NaN,NaN,NaN,NaN,19
464,http://www.zillow.com/homedetails/330-E-33rd-St-APT-20G-New-York-NY-10016/31510167_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/330-E-33rd-St-APT-20G-New-York-NY-10016/31510167_zpid/,"330 E 33rd St APT 20G, New York, NY10016","330 E 33rd St APT 20G, New York, NY Real Estate",330; 33; 20,Apartment For Rent,"$2,500/mo",2500.0,Studio • 1 ba • 485 sqft • Built 1962,1; 485; 1962,NaN,NaN,NaN,NaN,NaN,NaN,19
466,http://www.zillow.com/homedetails/238-W-20th-St-2FW-New-York-NY-10011/2100772861_zpid/,4 photos,NaN,4.0,NaN,4 photos,4.0,http://www.zillow.com/homedetails/238-W-20th-St-2FW-New-York-NY-10011/2100772861_zpid/,"238 W 20th St # 2FW, New York, NY10011","238 W 20th St # 2FW, New York, NY Real Estate",238; 20; 2,Apartment For Rent,"$2,595/mo",2595.0,2 bds • 1 ba • 600 sqft,2; 1; 600,NaN,NaN,NaN,NaN,NaN,NaN,19
467,http://www.zillow.com/homedetails/525-W-28th-St-607844-New-York-NY-10001/2103477944_zpid/,32 photos,NaN,32.0,NaN,32 photos,32.0,http://www.zillow.com/homedetails/525-W-28th-St-607844-New-York-NY-10001/2103477944_zpid/,"525 W 28th St, New York, NY","AVA High Line, S21 Real Estate",525; 28,Apartment For Rent,"$2,965+/mo",2965.0,Studio • 1 ba • 522 sqft • Built 2013,1; 522; 2013,NaN,NaN,NaN,NaN,NaN,NaN,19
468,http://www.zillow.com/homedetails/377-E-33rd-St-607370-New-York-NY-10016/2103465169_zpid/,12 photos,NaN,12.0,NaN,12 photos,12.0,http://www.zillow.com/homedetails/377-E-33rd-St-607370-New-York-NY-10016/2103465169_zpid/,"377 E 33rd St, New York, NY","Avalon Kips Bay, 480 Real Estate",377; 33,Apartment For Rent,"$2,815+/mo",2815.0,Studio • 1 ba • 480 sqft • Built 1998,1; 480; 1998,NaN,NaN,NaN,NaN,NaN,NaN,19
470,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,5 photos,NaN,5.0,NaN,5 photos,5.0,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,"304 E 41st St APT 1107A, New York, NY10017","304 E 41st St APT 1107A, New York, NY Real Estate",304; 41; 1107,Apartment For Rent,"$2,200/mo",2200.0,Studio • 1 ba,1,NaN,NaN,NaN,NaN,NaN,NaN,19
471,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,8 photos,NaN,8.0,NaN,8 photos,8.0,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,"169 Avenue A APT 1, New York, NY10009","169 Avenue A APT 1, New York, NY Real Estate",169; 1,Apartment For Rent,"$2,195/mo",2195.0,Studio • 1 ba,1,NaN,NaN,NaN,NaN,NaN,NaN,19

In [16]:
# split using the bullet
def parse_info(row):
        if not 'sqft' in row:
            br, ba = row.split('•')[:2]
            sqft = np.nan
        else:
            br, ba, sqft = row.split('•')[:3]                
        return pd.Series({'Beds': br, 'Baths': ba, 'Sqft': sqft})

In [17]:
attr = sucln['propertyinfo_value'].applay(parse_info)
attr

AttributeError: 'Series' object has no attribute 'applay'

In [18]:
attr = sucln['propertyinfo_value'].apply(parse_info)
attr

      Baths     Beds         Sqft
2      1 ba    1 bd           NaN
3     2 ba    2 bds    1,016 sqft
4      1 ba  Studio           NaN
5      1 ba   2 bds           NaN
7      1 ba   2 bds           NaN
10     1 ba    1 bd           NaN
11    1 ba     1 bd     496 sqft
12     1 ba  Studio           NaN
13     1 ba    1 bd           NaN
17     1 ba    1 bd           NaN
18     1 ba  Studio           NaN
19     1 ba    1 bd           NaN
20    1 ba     1 bd      700 sqft
21     1 ba    1 bd           NaN
23    1 ba   Studio      487 sqft
24     1 ba   2 bds           NaN
27    1 ba     1 bd      525 sqft
29    1 ba    2 bds      650 sqft
30     1 ba    1 bd           NaN
33     1 ba    1 bd           NaN
36     1 ba  Studio           NaN
38     1 ba    1 bd           NaN
40    1 ba   Studio     406 sqft
42    1 ba   Studio     350 sqft
44     1 ba  Studio           NaN
45    1 ba   Studio      400 sqft
46    1 ba     1 bd     600 sqft
47     1 ba    1 bd           NaN
48     1 ba    1 bd           NaN
49    1 ba     1 bd     596 sqft
..      ...      ...          ...
450   1 ba    2 bds      900 sqft
451    1 ba   2 bds           NaN
452    1 ba    1 bd           NaN
453    1 ba    1 bd           NaN
454    1 ba    1 bd           NaN
457   1 ba   Studio     540 sqft
458    1 ba   2 bds           NaN
459    1 ba  Studio           NaN
460    1 ba    1 bd           NaN
461    1 ba  Studio           NaN
462   1 ba   Studio           NaN
464   1 ba   Studio     485 sqft
466   1 ba    2 bds      600 sqft
467   1 ba   Studio     522 sqft
468   1 ba   Studio     480 sqft
470    1 ba  Studio           NaN
471    1 ba  Studio           NaN
475   1 ba     1 bd     475 sqft
477    1 ba  Studio           NaN
479   1 ba     1 bd      500 sqft
483    1 ba   2 bds           NaN
484    1 ba   2 bds           NaN
485    1 ba  Studio           NaN
486   1 ba   Studio      400 sqft
487    1 ba  Studio           NaN
490    1 ba    1 bd           NaN
492    1 ba    1 bd           NaN
496    1 ba  Studio           NaN
497   1 ba   Studio      550 sqft
499    1 ba    1 bd           NaN

[333 rows x 3 columns]

In [19]:
# 在取值中将字符串删除
attr_cln = attr.applymap(lambda x: x.strip().split(' ')[0] if isinstance(x, str) else np.nan)

In [20]:
attr_cln

    Baths    Beds   Sqft
2       1       1    NaN
3       2       2  1,016
4       1  Studio    NaN
5       1       2    NaN
7       1       2    NaN
10      1       1    NaN
11      1       1    496
12      1  Studio    NaN
13      1       1    NaN
17      1       1    NaN
18      1  Studio    NaN
19      1       1    NaN
20      1       1    700
21      1       1    NaN
23      1  Studio    487
24      1       2    NaN
27      1       1    525
29      1       2    650
30      1       1    NaN
33      1       1    NaN
36      1  Studio    NaN
38      1       1    NaN
40      1  Studio    406
42      1  Studio    350
44      1  Studio    NaN
45      1  Studio    400
46      1       1    600
47      1       1    NaN
48      1       1    NaN
49      1       1    596
..    ...     ...    ...
450     1       2    900
451     1       2    NaN
452     1       1    NaN
453     1       1    NaN
454     1       1    NaN
457     1  Studio    540
458     1       2    NaN
459     1  Studio    NaN
460     1       1    NaN
461     1  Studio    NaN
462     1  Studio    NaN
464     1  Studio    485
466     1       2    600
467     1  Studio    522
468     1  Studio    480
470     1  Studio    NaN
471     1  Studio    NaN
475     1       1    475
477     1  Studio    NaN
479     1       1    500
483     1       2    NaN
484     1       2    NaN
485     1  Studio    NaN
486     1  Studio    400
487     1  Studio    NaN
490     1       1    NaN
492     1       1    NaN
496     1  Studio    NaN
497     1  Studio    550
499     1       1    NaN

[333 rows x 3 columns]

In [21]:
sujnd = sucln.join(attr_cln)
sujnd.T

,2,3,4,5,7,10,11,12,13,17,18,19,20,21,23,...,470,471,475,477,479,483,484,485,486,487,490,492,496,497,499
routablemask_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routablemask_link/_text,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
routablemask_link/_title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
routablemask_link_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routablemask_content,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
imagebadge_value,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
imagebadge_value_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routable_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routable_link/_text,"9 E 129th St # 1, New York, NY10035","710 Riverside Dr APT 2C, New York, NY10031","413 E 84th St APT 8, New York, NY10028","324 Pleasant Ave APT 6E, New York, NY10035","217 Thompson St APT 6, New York, NY10012","340 W 47th St APT 4C, New York, NY10036","1356 1st Ave APT 5B, New York, NY10021","101 W 77th St APT 3C, New York, NY10024","111 W 74th St APT 2R, New York, NY10023","646 10th Ave APT 4B, New York, NY10036","76 Carmine St APT 4C, New York, NY10014","146 W 120th St APT 8, New York, NY10027","137 W 72nd St APT 4FE, New York, NY10023","178 Avenue B # 2, New York, NY10009","95 Wall St, New York, NY",...,"304 E 41st St APT 1107A, New York, NY10017","169 Avenue A APT 1, New York, NY10009","722 10th Ave APT 3A, New York, NY10019","200 W 70th St APT 11L3, New York, NY10023","219 W 78th St APT 2F, New York, NY10024","405 W 49th St APT 2W, New York, NY10019","230 E 26th St APT 3A, New York, NY10010","319 E 53rd St APT 2B, New York, NY10022","53 Irving Pl APT 3K, New York, NY10003","25 E 67th St APT 8D, New York, NY10065","303 E 73rd St # E, New York, NY10021","422 E 81st St APT 4A, New York, NY10028","445 W 49th St APT 3B, New York, NY10019","203 E 121st St APT 901, New York, NY10035","434 E 72nd St APT 2C, New York, NY10021"
routable_link/_title,"9 E 129th St # 1, New York, NY Real Estate","710 Riverside Dr APT 2C, New York, NY Real Estate","413 E 84th St APT 8, New York, NY Real Estate","324 Pleasant Ave APT 6E, New York, NY Real Estate","217 Thompson St APT 6, New York, NY Real Estate","340 W 47th St APT 4C, New York, NY Real Estate","1356 1st Ave APT 5B, New York, NY Real Estate","101 W 77th St APT 3C, New York, NY Real Estate","111 W 74th St APT 2R, New York, NY Real Estate","646 10th Ave APT 4B, New York, NY Real Estate","76 Carmine St APT 4C, New York, NY Real Estate","146 W 120th St APT 8, New York, NY Real Estate","137 W 72nd St APT 4FE, New York, NY Real Estate","178 Avenue B # 2, New York, NY Real Estate","95 Wall, Studio E1O Real Estate",...,"304 E 41st St APT 1107A, New York, NY Real Estate","169 Avenue A APT 1, New York, NY Real Estate","722 10th Ave APT 3A, New York, NY Real Estate","200 W 70th St APT 11L3, New York, NY Real Estate","219 W 78th St APT 2F, New York, NY Real Estate","405 W 49th St APT 2W, New York, NY Real Estate","230 E 26th St APT 3A, New York, NY Real Estate","319 E 53rd St APT 2B, New York, NY Real Estate","53 Irving Pl APT 3K, New York, NY Real Estate","25 E 67th St APT 8D, New York, NY Real Estate","303 E 73rd St # E, New York, NY Real Estate","422 E 81st St APT 4A, New York, NY Real Estate","445 W 49th St APT 3B, New York, NY Real Estate","203 E 121st St APT 901, New York, NY Real Estate","434 E 72nd St APT 2C, New York, NY Real Estate"
routable_link_numbers,9; 129; 1,710; 2,413; 84; 8,324; 6,217; 6,340; 47; 4,1356; 1; 5,101; 77; 3,111; 74; 2,646; 10; 4,76; 4,146; 120; 8,137; 72; 4,178; 2,95,...,304; 41; 1107,169; 1,722; 10; 3,200; 70; 11,219; 78; 2,405; 49; 2,230; 26; 3,319; 53; 2,53; 3,25; 67; 8,303; 73,422; 81; 4,445; 49; 3,203; 121; 901,434; 72; 2
listingtype_value,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,...,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent
pricelarge_value,"$1,750/mo","$3,000/mo","$2,300/mo","$2,500/mo","$2,800/mo","$2,490/mo","$2,750/mo","$2,150/mo","$2,875/mo","$2,225/mo","$2,450/mo","$1,800/mo","$2,850/mo","$2,700/mo","$3,000+/mo",...,"$2,200/mo","$2,195/mo","$2,995/mo","$1,895/mo","$2,493/mo","$2,925/mo","$2,940/mo","$2,170/mo","$2,300/mo","$2,600/mo","$2,265/mo","$2,150/mo","$2,195/mo","$1,795/mo","$2,150/mo"
pricelarge_value_prices,1.75e+03,3e+03,2.3e+03,2.5e+03,2.8e+03,2.49e+03,2.75e+03,2.15e+03,2.88e+03,2.22e+03,2.45e+03,1.8e+03,2.85e+03,2.7e+03,3e+03,...,2.2e+03,2.2e+03,3e+03,1.9e+03,2.49e+03,2.92e+03,2.94e+03,2.17e+03,2.3e+03,2.6e+03,2.26e+03,2.15e+03,2.2e+03,1.8e+03,2.15e+03
propertyinfo_value,1 bd • 1 ba,"2 bds • 2 ba • 1,016 sqft",Studio • 1 ba,2 bds • 1 ba,2 bds • 1 ba,1 bd • 1 ba,"1 bd • 1 ba • 496 sqft • 4,502 sqft lot • Built 1900",Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba • 700 sqft,1 bd • 1 ba,Studio • 1 ba • 487 sqft,...,Studio • 1 ba,Studio • 1 ba,1 bd • 1 ba • 475 sqft • Built 1900,Studio • 1 ba,1 bd • 1 ba • 500 sqft,2 bds • 1 ba,2 bds • 1 ba,Studio • 1 ba,Studio • 1 ba • 400 sqft,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,Studio • 1 ba • 550 sqft,1 bd • 1 ba
propertyinfo_value_numbers,1; 1,2; 2; 1016,1,2; 1,2; 1,1; 1,1; 1; 496; 4502; 1900,1,1; 1,1; 1,1,1; 1,1; 1; 700,1; 1,1; 487,...,1,1,1; 1; 475; 1900,1,1; 1; 500,2; 1,2; 1,1,1; 400,1,1; 1,1; 1,1,1; 550,1; 1
fineprint_value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fineprint_value_numbers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozcount_number,48,1,2,2,3,6,6,6,6,6,7,9,9,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozfresh_value,minutes ago,hour ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,Updated today,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values_prices,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
_PAGE_NUMBER,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...,19,19,20,20,20,20,20,20,20,20,20,20,20,20,20
Baths,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Beds,1,2,Studio,2,2,1,1,Studio,1,1,Studio,1,1,1,Studio,...,Studio,Studio,1,Studio,1,2,2,Studio,Studio,Studio,1,1,Studio,Studio,1
Sqft,NaN,"1,016",NaN,NaN,NaN,NaN,496,NaN,NaN,NaN,NaN,NaN,700,NaN,487,...,NaN,NaN,475,NaN,500,NaN,NaN,NaN,400,NaN,NaN,NaN,NaN,550,NaN